body{
    text-align:center;
    font-family:Arial;
}

/* ===== ПОЛЕ ===== */

#boardWrapper{
    position:relative;
    width:900px;
    margin:auto;
}

#board{
    width:100%;
}

/* ===== ФИШКА ===== */

#player{
    width:22px;
    height:22px;
    background:red;
    border-radius:50%;
    position:absolute;
    transition:0.4s linear;
    transform:translate(-50%,-50%);
    border:2px solid white;
}

/* ===== КУБИК ===== */

#dice{
    margin-top:20px;
    font-size:40px;
    cursor:pointer;
}
