body{
margin:0;
background:black;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

#game{
position:relative;
}

#board{
width:900px;
}

.token{
width:30px;
height:30px;
background:red;
border-radius:50%;
position:absolute;
transition:0.2s;
}

#dice{
position:absolute;
right:-120px;
top:40px;
font-size:60px;
transition:transform 1s;
}

button{
position:absolute;
right:-120px;
top:150px;
padding:10px 20px;
}

#hype{
position:absolute;
right:-120px;
top:220px;
color:white;
font-size:22px;
}
