body{
background:#000;
color:white;
text-align:center;
font-family:Arial;
margin:0;
overflow:hidden;
}

h2{
margin:10px;
}

#board{
width:95vw;
max-width:900px;
aspect-ratio:1/1;
margin:auto;
position:relative;

background:url("/board.jpg") center/contain no-repeat;
border:4px solid orange;
}

canvas{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/* SCANDAL POPUP */
#scandal{
position:fixed;
top:40%;
left:50%;
transform:translate(-50%,-50%) scale(0);

background:red;
color:white;
padding:25px;
font-size:26px;
border-radius:12px;
transition:.4s;
z-index:999;
}

#scandal.show{
transform:translate(-50%,-50%) scale(1);
}
