body {
    text-align: center;
    font-family: Arial;
    background: #111;
    color: white;
}

.board {
    width: 90%;
    max-width: 900px;
}

.scene {
    width: 120px;
    height: 120px;
    margin: 40px auto;
    perspective: 600px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(30deg);
    transition: transform 1s;
}

.face {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #ff2e63;
    border: 2px solid white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* стороны */
.front  { transform: rotateY(0deg) translateZ(60px); }
.back   { transform: rotateY(180deg) translateZ(60px); }
.right  { transform: rotateY(90deg) translateZ(60px); }
.left   { transform: rotateY(-90deg) translateZ(60px); }
.top    { transform: rotateX(90deg) translateZ(60px); }
.bottom { transform: rotateX(-90deg) translateZ(60px); }

button {
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
}

.board-wrapper {
    position: relative;
    display: inline-block;
}

.player {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    position: absolute;
    transition: 0.6s;
    border: 2px solid white;
}
