#board{
position:relative;
width:1000px;
margin:auto;
}

#board img{
width:100%;
}

.token{
position:absolute;
width:22px;
height:22px;
border-radius:50%;
border:2px solid white;
transform:translate(-50%,-50%);
}

/* 3D кубик */

#dice3d{
perspective:600px;
width:70px;
height:70px;
}

#cube{
width:70px;
height:70px;
position:relative;
transform-style:preserve-3d;
transition:1s;
}

.face{
position:absolute;
width:70px;
height:70px;
background:white;
border:2px solid black;
display:flex;
align-items:center;
justify-content:center;
font-size:22px;
}

.front{transform:translateZ(35px);}
.back{transform:rotateY(180deg) translateZ(35px);}
.right{transform:rotateY(90deg) translateZ(35px);}
.left{transform:rotateY(-90deg) translateZ(35px);}
.top{transform:rotateX(90deg) translateZ(35px);}
.bottom{transform:rotateX(-90deg) translateZ(35px);}
