body {
    margin:0;
    background:#111;
    font-family:Arial;
    color:white;
    text-align:center;
}

.board {
    position:relative;
    width:1024px;
    height:1024px;
    margin:auto;
    background-size:cover;
}

.token {
    width:40px;
    height:40px;
    border-radius:50%;
    position:absolute;
    transition: all 0.4s ease;
    border:3px solid white;
}

.yellow { background:yellow; }
.red { background:red; }
.blue { background:blue; }
.purple { background:purple; }

.active {
    box-shadow:0 0 20px white;
}
